/*td img {
  width: 50%;
  height: 30%;
  border: 3;
  /*padding-right: -3px;
}*/

/*td, tr, img  {
  width: 50%;
  height: 30%;
  margin: 0px;
  border: none;
}



table {
  border-collapse: collapse;
}


/*isso no era pra funcionar, mas funciona*/
/*td{
  text-align: center;
}*/

html, body, div, form, fieldset, legend, label, img
{
 margin: 0;
 padding: 0;
}

td img {
  width: 50%;
  height: 30%;
  display: block;
}

table
{
 border-collapse: collapse;
 border-spacing: 0;
}

th, td
{
 text-align: left;

}

/*div{
  margin-top: 200px;
  margin-bottom: 250px;
  margin-right: 200px;
}*/
